@model IEnumerable<AI_Project_Reservations.Models.Reservation>

@{
    ViewBag.Title = "ViewReservations";
}

<h2>View Reservations</h2>

@if (ViewBag.type == "teacher")
{
    <p>
        @Html.ActionLink("Create New", "AddReservation")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.roomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        @if (ViewBag.type == "teacher")
        {
            if (item.teacherId == ViewBag.teacherId)
            {
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }

        }
    </tr>
}
    @if (ViewBag.type == "teacher")
    {
        <p>
            @Html.ActionLink("Go back", "IndexTeacher", "Home")
        </p>
    }
    else if (ViewBag.type == "student")
    {
        <p>
            @Html.ActionLink("Go back", "IndexStudent", "Home")
        </p>
    }

</table>
